# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.ex
#pintos_make_adjustment
src/utils/pintos
src/utils/Pintos.pm
src/utils/pintos-gdb
src/utils/Makefile
src/threads/Make.vars
