# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.ex
#pintos_make_adjustment
src/utils/pintos
src/utils/Pintos.pm
src/utils/pintos-gdb
src/threads_backup

*.pm
*.vars
*.dsk

src/devices/shutdown.c
src/misc/gdb-macros
src/utils/Makefile
src/threads/Make.vars

*.patch
